In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [7]:
nfl_frame = pd.read_clipboard()

In [8]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South
11,12,Oakland Raiders,444,397,11,0.528,1960,852,AFC West
12,13,Pittsburgh Steelers,590,530,20,0.526,1933,"1,140",AFC North
13,14,Kansas City Chiefs,435,405,12,0.518,1960,852,AFC West
14,15,Washington Redskins,578,565,27,0.506,1932,"1,170",NFC East
15,16,Cleveland Browns,461,451,10,0.505,1950,922,AFC North
16,17,Seattle Seahawks,315,313,0,0.502,1976,628,NFC West
17,18,San Diego Chargers,421,420,11,0.501,1960,852,AFC West
18,19,Los Angeles Rams,540,542,21,0.499,1937,"1,103",NFC West
19,20,Carolina Panthers,166,169,1,0.496,1995,336,NFC South
20,21,Philadelphia Eagles,548,582,26,0.485,1933,"1,156",NFC East
21,22,Tennessee Titans,404,442,6,0.478,1960,852,AFC South
22,23,Buffalo Bills,393,451,8,0.466,1960,852,AFC East
23,24,New York Jets,387,457,8,0.459,1960,852,AFC East
24,25,Detroit Lions,535,634,32,0.459,1930,"1,201",NFC North
25,26,Cincinnati Bengals,338,399,3,0.459,1968,740,AFC North
26,27,Jacksonville Jaguars,152,184,0,0.452,1995,336,AFC South
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South
28,29,Atlanta Falcons,330,432,6,0.434,1966,768,NFC South
29,30,Houston Texans,97,127,0,0.433,2002,224,AFC South
30,31,Arizona Cardinals,535,724,39,0.427,1920,"1,298",NFC West
31,32,Tampa Bay Buccaneers,241,386,1,0.385,1976,628,NFC South

In [9]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [23]:
temp = Series(nfl_frame.Team)
temp[2] = 'bumpus'
temp.head()
nfl_frame.Team = temp
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,bumpus,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [7]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [8]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
4        New
Name: Team, dtype: object

In [10]:
nfl_frame.First

0     0.570
1     0.568
2    37.000
3     0.561
4     9.000
Name: First, dtype: float64

In [12]:
nfl_frame['First']

0     0.570
1     0.568
2    37.000
3     0.561
4     9.000
Name: First, dtype: float64

In [14]:
DataFrame(nfl_frame,columns=['Team','First','Total'])

      Team   First  Total
0  Chicago   0.570    NFC
1   Dallas   0.568    NFC
2    Green  37.000  1,304
3    Miami   0.561    AFC
4      New   9.000    852

In [15]:
DataFrame(nfl_frame,columns=['Team','First','Total','Stadium'])

      Team   First  Total  Stadium
0  Chicago   0.570    NFC      NaN
1   Dallas   0.568    NFC      NaN
2    Green  37.000  1,304      NaN
3    Miami   0.561    AFC      NaN
4      New   9.000    852      NaN

In [16]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [17]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [18]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [19]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [20]:
 nfl_frame['Stadium'] = "Levie's Stadium"

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levie's Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levie's Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levie's Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levie's Stadium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levie's Stadium

In [23]:
nfl_frame["Stadium"] = np.arange(5)

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,4

In [25]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [26]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [27]:
nfl_frame['Stadium'] = stadiums

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,AT&T Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's Stadium

In [29]:
del nfl_frame['Stadium']

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [31]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [32]:
city_frame = DataFrame(data)

In [33]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000